@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

:root {
  --grey: #f4f4f4;
  --black: #000;
  --dark-medium: #353535;
  --white: #fff;
  --ligth-black: #232323;
  --purple: #5d47e9;
  --mint: #e4f6ff;
  --green: #d3ff24;
}

* {
  @apply md:text-base text-sm font-light;
}

.button {
  @apply rounded-xl px-10 py-4 text-slate-50 bg-purple w-min whitespace-nowrap;
}

.big-title {
  @apply text-5xl font-bold;
}

.title {
  @apply font-bold text-2xl md:text-xl;
}

.header {
  @apply md:px-[80px] sm:py-[40px] sm:px-[50px] bg-purple relative p-5;
}

.header-section {
  @apply bg-white rounded-xl grid sm:grid-cols-2 sm:relative;
}

.section {
  @apply md:px-[80px] sm:py-[40px] sm:px-[50px] py-[30px] px-[80px];
}

.bubble {
  @apply bg-black w-[150px] h-[150px] text-white text-xs rounded-full px-4 py-2 flex justify-center items-center relative;
}

.rows-section {
  @apply grid sm:grid-cols-4 gap-8;
}

.numbers {
  @apply w-[25px] h-[25px] rounded-full bg-mint flex justify-center items-center font-bold;
}

.border-black-card {
  @apply border border-black flex flex-col justify-between;
}

.border-black-card__img {
  @apply object-cover w-full h-[180px] sm:h-[150px];
}

.border-black-card__content {
  @apply p-8 sm:p-4 flex flex-col gap-4;
}

.border-white-card {
  @apply border border-white flex flex-col gap-4 rounded-xl items-center sm:items-start px-8 py-6;
}

.footer-section {
  @apply flex flex-col gap-4 items-center sm:items-start;
}

.footer {
    @apply md:px-[80px] sm:py-[40px] sm:px-[50px] py-[30px]; 
}
